<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('templates/file') %>
</head>

<body>
    <%- include('templates/head')%>
    <div class="container-fluid">
        <div class="row" id="content">
        <%- include('templates/menu',{name:''})%>
        
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

            <span class="welcome">欢迎您，访问拉钩网管理系统！！</span>
        </main>
        </div>
    </div>

</body>

</html>